*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    text-align: center;
    background-image: url(../images/donation7.jpg);
    background-repeat: no-repeat;
    padding: 150px 350px;
}
.banner-title{
    color: rgb(235, 121, 121);
    font-size: 50px;
    font-weight: 700px;
}
.banner-description{
    color: rgb(228, 192, 192);
    font-size: 20px;
    font-weight: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 700px;
    background-color: rgb(233, 51, 51) ;
    height: 64px;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
    margin-top: 30px;
}
 
/* donate today styles */

.donate-today{
    text-align: center;
    padding: 150px 350px;
}
.section-title{
    font-size: 35px;
    font-weight: 1500px;
    color: black;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    font-weight: 700px;
    color: rgb(59, 53, 53);
    margin-top: 30px;
    margin-bottom: 40px;
}
.donate-button{
    display: flex;
    text-align: center;
    gap: 5px;
    margin-bottom: 40px;

}
.same-style-button{
    color: rgb(44, 38, 38);
    font-size: 20px;
    font-weight: 700px;
    padding: 30px 15px;
    background-color: rgb(248, 247, 247);
    border: none;
}
.different-style-button{
    color: rgb(175, 71, 71);
    font-size: 20px;
    font-weight: 700px;
    padding: 30px 15px;
    background-color: rgb(221, 207, 207);
    border-color: rgb(175, 71, 71);
    border: 2px solid;
    border-radius: 5px;
}
.donate-today .section-description{
    margin: 10px;
}

/* donate plan section */

.donate-plan{
    text-align: center;
}
.donate-plan-description{
    margin: 30px 350px;

}
.donate-plan-container{
    display: flex;
    gap: 10px;
    text-align: left;
    margin: 50px 150px;

}
.donate-plan-food{
    padding: 60px 40px;
    background-color: rgb(235, 232, 227);
    border-radius: 5px;
}
.donate-plan-shelter{
    padding: 60px 40px;
    background-color: rgb(214, 207, 198);
    border-radius: 5px;
}
.donate-plan-education{
    padding: 60px 40px;
    background-color: rgb(250, 221, 186);
    border-radius: 5px;
}
.plan-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
.plan-description{
    font-size: 15px;
}


/* Your donation styles */

.your-donation{
    display: flex;
    text-align: left;
    align-items: center;
    gap: 0px;

}
.donation-title{
    font-weight: bold;
    font-weight: 900;
    font-size: 35px;
    color: black;
    margin-bottom: 20px;   
}
.donation-decription{
    

}
img{
    padding: 20px 60px;
    border-radius: 10px;
}

/* <!-- Need us section --> */

/* Updates styles */
.Updates{
    text-align: center;
}


